{% extends "body.html" %}
{% load static %}

{% block heads %}
	<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>

  
{% endblock %}

{% block content %}
<div class="card card-default">
	<div class="card-header">
		<h3 class="card-title">
			<i class="fas fa-search"></i>
			{{title}}
		</h3>
	</div>

	<div class="card-body">
		<table class="table" id="data">
			{% block column %}

			{% endblock %}
			
			{% block rows %}					

			{% endblock %}
		</table>
	</div>
	<div class="card-footer">
		<a href="{{create_url}}" class="btn btn-primary btn-flat"id="btnButton" ><span class="fa fa-plus"></span> Nuevo registro</a>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <script type="text/javascript">
    	$('#data').DataTable({
    		responsive: true,
    		"language": {
    			url : '{% static 'lib/datatables-1.10.20/spanish.txt' %}'
    		}
    	});

    	$("#btnButton").click(function(e){
    		$.ajax({
    			url: '{% url "category_list" %}',
    			type: "POST",
    			data: {id:1},
    			dataType: "json"
    		}).done(function(data) {
    			console.log(data);
    		}).fail(function(jqXHR, textStatus, errorThrown) {
    			alert(textStatus+"/"+errorThrown);
    		}).always(function() {

    		});
		});
    </script>
{% endblock %}
