{% extends "body.html" %}


{% block content %}
<form action="." method="post" accept-charset="utf-8">
	<div class="card card-default">
		<div class="card-header">
			<h3 class="card-title">
				<i class="fas fa-plus"></i>
				{{title}}
			</h3>
		</div>

		<div class="card-body">
			{% csrf_token %}
			<div class="form-group">
				<label for="">{{ form.name.label }}</label>
				{{ form.name }}
			</div>
		</div>
		<div class="card-footer">
			<button type="submit" class="btn btn-primary btn-flat"id="btnButton" ><span class="fa fa-save"></span> Guardar registro</button>
		</div>
	</div>	
</form>	
{% endblock %}

