{% extends "lists.html" %}

{% block column %}
<thead>
	<tr>
		<th>Nro</th>
		<th>Nombre</th>
		<th>Opciones</th>
	</tr>
</thead>
{% endblock %}

{% block rows %}			
			
<tbody>
	{% for category in object_list %}
	<tr>
		<td>{{category.id}}</td>
		<td>{{category.name}}</td>
		<td colspan="">
			<a href="{% url 'category_update' pk=category.id %}" class="btn btn-warning"><span class="fa fa-edit"></span></a>

			<a href="{% url 'category_delete' pk=category.id %}" class="btn btn-danger"><span class="fa fa-trash-alt"></span></a>
		</td>
	</tr>
	{% endfor %}
</tbody>

{% endblock %}